body {
  margin: 0;
  height: 100%;
}

.container {
  display: grid;
  grid-auto-columns: 60px 1fr 1fr; 
  grid-auto-rows: 40px 1fr 40px;
  grid-template-areas:
    'menu header header'
    'menu content content'
    'menu footer footer';  
}



.header {
  grid-area: header;
  background-color: #1e2023;
}

.content {
  grid-area: content;
  background-color: #17191d;
}

.footer {
  grid-area: footer;
  background-color: #1e2023;

}

/* side menu styling */

.menu {
  grid-area: menu;
  width: 60px;
  background-color: #f3f9ff;
  height: 100vh;
}

.menu-icon {
  text-align: center;
  margin-top: 20px;
}

.github {
  text-align: center;
  position: absolute;
  width: 60px;
  bottom: 20px;
}

.title {
  margin: 0 auto;

  transform: rotate(270deg);
}