body {
  margin: 0;
  height: 100%;
}

.container {
  display: grid;
  grid-auto-columns: 80px 1fr 1fr; 
  grid-auto-rows: 40px 1fr 40px;
  grid-template-areas:
    'menu header header'
    'menu content content'
    'menu footer footer';  
}

.menu {
  grid-area: menu;
  width: 80px;
  background-color: #f3f9ff;
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: #1e2023;
}

.content {
  grid-area: content;
  background-color: #17191d;
}

.footer {
  grid-area: footer;
  background-color: #1e2023;

}